<h1>Products</h1>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Restaurante</th>
        </tr>
    </thead>
    <tbody>
        <% @products.each do |item| %>
          <tr>
              <td><%= item.name %></td>
              <td><%= item.value %></td>
              <td><%= item.restaurant.name %></td>
          </tr>
        <% end %>
    </tbody>
</table>
